* {
    font-family: Verdana;
}

body {
    margin: 0;
}

header {
    display: flex;
}

.h-left {
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}

.h-right {
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
}

.list {
    background-color: #B0BEC5;
    height: 320px;
}

.video-list {
    display: flex;
    overflow: scroll;
}

.video {
    padding: 5px;
    width: 226px;
    height: 280px;
}

h3 {
    background-color: #546E7A;
    color: white;
    margin: 0px;
}

h4 {
    text-align: center;
    margin: 0px;
}

footer {
    background-color: #29434E;
    color: white;
}