body {
    background-color: #E0F7FA;
    font-family: Arial;
    text-align: center;
}

#kontener {
    width: 95%;
    margin: auto;
}

header {
    background-color: #00838F;
    height: 200px;
}

nav {
    background-color: #006064;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 150%;
}

main {
    display: flex;
}

#main-l, #main-c, #main-p {
    height: 350px;
    width: 33%;
}

footer {
    background-color: #006064;
    color: white;
    text-align: right;
    padding: 10px;
}

ul {
    text-align: left;
}

button {
    background-color: #00838F;
    color: white;
}

button:hover {
    background-color: #80DEEA;
}